.nav__item-container {
    display: block;
    float: left;
}

.nav__item {
    box-sizing: border-box;
    display: block;
    padding: 0.8em 0.5em;
    font-size: 20px;
    font-family: $light;
    color: white;

    &:hover {
        background-color: $lightMainColor;
        color: white;
    }
}

.nav__active {
    background-color: $mainColor;
    color: $contrastColor;
    font-family: $normal;
}

@media screen and (max-width: 1280px) {

  .nav__item {
      font-size: 16px;
      font-family: $normal;
  }
}

@media screen and (max-width: 960px) {

    .nav__item-container {
        float: none;
    }

    .nav__item {
        font-size: 20px;
        padding: 1em;
        font-family: $light;
    }
}
