.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: $contrastColor;
    background-color: $darkMainColor;
    text-align: center;
}

.footer__content {
    display: block;
    padding: $gutter / 2 0;
}

.footer__link {
    color: $contrastColor;
    text-decoration: underline;
}
