
.search__form label {
    display: none;
}

.search__form .input.search {
    width: $sixSeizieme - $gutter - $gutter / 4 - 19px;
    margin: 17px $gutter / 4 18px 0;
    //margin-right: $gutter / 4;
    float: left;
}

.search__form .submit {
    margin: 0;
}

.search__text {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    border-bottom: 1px solid white;
    background-color: $darkMainColor;
    color: $contrastColor;
    font-size: 20px;
}

.search__form .submit {
    width: $gutter + 19px;
    height: $gutter + 32px;
}

.search__form input[type='submit'] {
    box-sizing: border-box;
    width: $gutter + 19px;
    height: $gutter + 32px;
    box-shadow: none;
    background-image: url('../img/icons/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -999999px;
}

@media screen and (max-width: 1280px) {

    .search__form .input.search {
        width: $mTreizeSeizieme;
        margin-right: $mGutter;
    }

    .search__text {
        font-size: 16px;
    }

    .search__form .submit {
        width: $mTroisSeizieme;
        height: $gutter + 19px;
        text-align: right;
    }

    .search__form input[type='submit'] {
        height: $gutter + 19px;
    }

}

@media screen and (max-width: 960px) {

    .search {
        padding: 0 1em;
    }

    .search__form .input.search {
        width: $mDouzeSeizieme;
        margin-right: $mGutter;
        padding: 0;
    }

    .search__text {
        font-size: 20px;
    }

    .search__form .submit {
        width: $mQuatreSeizieme;
        text-align: left;
    }
}
