.comment {
    width: 100%;
    margin-bottom: $gutter;
    padding-bottom: $gutter / 2;
    border-bottom: 1px solid $mainColor;
    position: relative;
}

.comment__form {
    position: absolute;
    top: 0;
    right: 0;
}

.comment__delete {
   transform: rotate(45deg);
}

.comment__avatar {
    float: left;
    margin-right: $gutter;
}

.comment__info {
    float: left;
}

.comment__avatar {
  float: left;
}

.comment__username {
    display: block;
    font-size: 14px;
}

.comment__date {
    display: block;
    font-size: 14px;
}

.comment__content {
    margin-top: $gutter / 4;
}
