.popup-box {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 6;
}

.popup-box__filter {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $lightMainColor;
    opacity:0.6;
}

.popup-box__close {
    display: block;
    text-align: right;
}

.popup-box__close-button {

    border: none;
    background-color: $contrastColor;
    color: $notFocusColor;
    font-size: 20px;

    &:hover {
        color: $darkMainColor;
    }
}

.popup-box__content {
    width: 40%;
    padding: $gutter;
    border: 2px solid $mainColor;
    position: fixed;
    top: 20%;
    left: 30%;
    background-color: $contrastColor;
}

.popup-box__option {
    &:hover {
        cursor: pointer;
    }
}

.popup-box__sentence {
    font-size: 20px;
    font-weight: $light;
    margin-bottom: $gutter;
}

@media screen and (max-width: 1280px) {
    .popup-box__content {
        width: 60%;
        top: 20%;
        left: 20%;
    }
}

@media screen and (max-width: 960px) {
    .popup-box__content {
        width: 80%;
        top: 10%;
        left: 10%;
    }
}

@media screen and (max-width: 700px) {
    .popup-box__content {
        width: 90%;
        top: 5%;
        left: 5%;
    }
}
