.comments__block {
    width: $douzeSeizieme;
}

.comment {
    width: 100%;
    margin-bottom: $gutter;
    padding-bottom: $gutter / 2;
    border-bottom: 1px solid $mainColor;
    position: relative;
}

.comment__actions {
    width: $quatreSeizieme;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

.comment__number-of-likes {
    color: $mainColor;
}

.comment__like-icon {
    display: inline-block;
    width: $gutter / 2;
}

.comment__icon {
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -999999px;
}

.comment__delete {
    background-image: url("../img/icons/delete.svg");
}

.comment__like {
    background-image: url("../img/icons/like.svg");
}

.comment__dislike {
    background-image: url("../img/icons/dislike.svg");
}

.comment__avatar {
    float: left;
    margin-right: $gutter;
}

.comment__info {
    float: left;
}

.comment__avatar {
  float: left;
}

.comment__username {
    display: block;
    font-size: 14px;
}

.comment__date {
    display: block;
    font-size: 14px;
}

.comment__content {
    margin-top: $gutter / 4;
    word-wrap: break-word;
}

@media screen and (max-width: 480px) {
    .comment__actions {
        width: $mSeizeSeizieme;
        margin: $gutter / 2 0;
        position: relative;
        text-align: center;
    }
}
