.article__content {
    width: $douzeSeizieme;
    float: left;
}

.article__user {
    height: 50px;
    margin-bottom: $gutter;
}

.article__user--sheet {
    width: $huitSeizieme;
    margin: 0 $gutter $gutter 0;
    float: left;
}

.article__avatar {
    margin-right: $gutter / 4;
    vertical-align: middle;
}

.article__username {
    vertical-align: middle;
}

.article__text {

    img {
        height: auto;
        max-width: $sixSeizieme;
        margin: $gutter / 2
    }
}

.article__side {
    width: $quatreSeizieme;
    margin-left: $gutter;
    float: left;
}

.side__action {
    + .side__action {
        margin-top: $gutter / 4
    }
}

.side__form {
    width: 100%;

    .submit {
        margin: 0;
    }
}

.article__rating {
    margin-bottom: $gutter;
    text-align: center;
    color: $mainColor;
}

.rating__content {
    display: block;
}

.rating__content-1 {
    font-size: 1.5em;
}

.rating__content-2 {
    font-size: 2.2em;
}

.rating__2 {
    opacity: 0.5;
}

.article__actions {
    margin-bottom: $gutter;
}

@media screen and (max-width: 1280px) {
    .article__content {
        width: $mDouzeSeizieme;
    }

    .article__user--sheet {
        width: $mHuitSeizieme;
        margin: 0 $mGutter $gutter 0;
    }

    .article__text {
        img {
            height: auto;
            max-width: $sixSeizieme;
            margin: $gutter / 2
        }
    }

    .article__side {
        width: $mQuatreSeizieme;
        margin-left: $mGutter;
    }
}

@media screen and (max-width: 960px) {
    .article__content {
        width: $mSeizeSeizieme;
        margin-bottom: $gutter;
        padding-bottom: $gutter;
        border-bottom: 1px solid $mainColor;
        float: none;
    }

    .article__user--sheet {
        width: $mSeizeSeizieme;
        float: none;
    }

    .article__text {
        img {
            max-width: $mSixSeizieme;
            margin: $mGutter / 2
        }
    }

    .article__side {
        width: $mSeizeSeizieme;
        margin-left: 0;
    }

    .article__actions {
        width: $mHuitSeizieme;
        margin: 0 auto $gutter;
    }
}

@media screen and (max-width: 700px) {

    .article__text {
        text-align: justify;
        text-justify: inter-word;

        img {
            height: auto;
            max-width: $mDouzeSeizieme;
            margin: $mGutter;
        }
    }

    .article__actions {
        width: $mSeizeSeizieme;
        margin: 0 0 $gutter;
    }
}

@media screen and (max-width: 480px) {

    .article__text {

        img {
            height: auto;
            max-width: $mSeizeSeizieme;
        }
    }

    .article__user {
        height: auto;
        text-align: center;
    }

    .article__username {
        display: block;
        width: $mSeizeSeizieme;
    }
}
