.buttons {
    text-align: center;
    margin-bottom: $gutter;
}

.button {
    @include link-button( $contrastColor, $darkMainColor, $lightMainColor);
    display: inline-block;
    width: $troisSeizieme;

    & + .button {
        margin-left: $gutter;
    }

    .submit {
        margin-top: 0;
    }
}

.button--100 {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .button {
        display: block;
        width: $mDouzeSeizieme;
        margin: 0 auto;

        & + .button {
            margin: $gutter / 4 auto 0;
        }
    }
}

@media screen and (max-width: 480px) {
    .button {
        width: $mSeizeSeizieme;
    }
}
