.social-links {
    width: $troisSeizieme;
    position: absolute;
    top: -1em;
    right: 0;
    text-align: right;
}

.social-links--left {
    left: 0;
    text-align: left;
}

@media screen and (max-width: 960px) {
    .social-links {
        width: $mSeizeSeizieme;
        margin-bottom: $gutter;
        position: relative;
        top: auto;
        right: auto;
        text-align: center;
    }
}
