.table {
    width: 100%;
}

.table__row--data {
    border-bottom: 1px solid $darkMainColor;
}

.table__row--conversation {

    &:hover {
        color: $lightMainColor;
        cursor: pointer;

        a {
            color: $lightMainColor;
        }
    }
}

.table__row--not-seen {
    font-family: $bold;
}

.table__head {
    width: $quatreSeizieme;
    padding: $gutter / 2 $gutter / 4;
    font-size: 20px;
    font-family: $normal;
    text-align: left;
}

.table__data {
    padding: $gutter / 2 $gutter / 4;
}

@media screen and (max-width: 1280px) {
    .table__head {
        width: $mQuatreSeizieme;
    }
}

@media screen and (max-width: 960px) {
    .table__head {
        display: none;
    }

    .table__row--data {
        display: block;
        padding: $gutter 0;
    }

    .table__data {
        display: block;
        padding: 0 0 0 $mSixSeizieme + $mGutter;
        margin-bottom: 0.5em;
        position: relative;

        &:before {
            content: attr(data-head);
            padding: 0 $mGutter / 2;
            position: absolute;
            left: 0;
            font-family: $bold;
        }
    }

    .table__data--button {
        padding: 0;
        margin-top: $gutter / 2;
    }
}

@media screen and (max-width: 700px) {

    .table__data {
        padding-left: $mHuitSeizieme + $mGutter;
    }

    .table__data--button {
        padding: 0;
    }
}

@media screen and (max-width: 300px) {

    .table__data {
        padding-left: $mDixSeizieme + $mGutter;
    }

    .table__data--button {
        padding: 0;
    }
}
