.recent-articles {
    width: $sixSeizieme;
    margin-left: $gutter;
    float: left;
}

.recent-article {
    display: block;
    width: 100%;
    margin: $gutter / 4 0;
    border-bottom: 1px dotted $mainColor;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recent-article--book {
    border-bottom: none;
}

.recent-article__title {
    font-family: $bold;
}

.recent-article__title--sheet {
    display: inline-block;
    margin-right: $gutter / 2;
}

.recent-article__informations {
    font-size: 14px;
}

.recent-article__informations--sheet {
    display: inline-block;
}

.recent-article__date {
    margin-right: $gutter / 2;
}

.recent-article__types {
    margin-right: $gutter / 2;
}

.recent-article__type {
    text-transform: uppercase;

    & + .recent-article__type:before {
        content: '|';
    }
}

.recent-article__author {
    float: right;
}

.recent-articles__buttons {
    margin-top: $gutter;
}

.recent-articles__button {
    @include link-button ( $contrastColor, $darkMainColor, $lightMainColor );
    display:block;
    width: 100%;

    & + .recent-articles__button {
        margin-top: $gutter / 2;
    }
}

@media screen and (max-width: 1280px) {
    .recent-articles {
        width: $mSixSeizieme;
        margin-left: $mGutter;
    }

    .recent-article {
        overflow: visible;
        text-overflow: clip;
        white-space: normal;
    }
}

@media screen and (max-width: 960px) {
    .recent-articles {
        width: $mSeizeSeizieme;
        margin-left: 0;
        padding: $gutter $mGutter 0;
    }

    .recent-article {
        overflow: visible;
        text-overflow: clip;
        white-space: normal;
    }

    .recent-article__title--sheet {
        display: block;
        margin-right: 0;
    }

    .recent-article__informations--sheet {
        display: block;
    }
        text-transform: uppercase;

}

@media screen and (max-width: 700px) {
    .recent-article--sheet {
        font-size: 14px;
        margin-top: $gutter / 4;
    }

    .recent-article--book {
        border-bottom: 1px dotted $mainColor;
    }
}
