.bloc-title {
    color: $green;
    margin-bottom: $gutter / 4;

    h3 {
        margin-bottom: $gutter / 2;
    }

    h4 {
        margin-bottom: $gutter / 4;
    }

    &:after {
        content:'';
        display: block;
        width: $unSeizieme + $gutter;
        margin-bottom: $gutter;
        border-top: 3px solid $green;
    }
}

@media screen and (max-width: 960px) {
    .bloc-title--padding {
        padding: 0 $mGutter;
    }
}
