.table {
    width: 100%;
}

.table__row--data {
    border-bottom: 1px solid $mainColor;
}

.table__head {
    width: $quatreSeizieme;
    font-size: 20px;
    font-family: $normal;
    text-align: left;
}

.table__data--button {
    padding: 1em 0;
}

@media screen and (max-width: 1280px) {
    .table__head {
        width: $mQuatreSeizieme;
    }
}

@media screen and (max-width: 960px) {
    .table__head {
        display: none;
    }

    .table__row--data {
        border: none;
    }

    .table__data {
        display: block;
        padding-left: $mSixSeizieme + $mGutter;
        margin-bottom: 0.5em;
        position: relative;

        &:before {
            content: attr(data-head);
            position: absolute;
            left: 0;
            font-family: $bold;
        }
    }

    .table__data--button {
        padding: 0;
        margin: $gutter / 4 0 $gutter;
    }
}

@media screen and (max-width: 700px) {

    .table__data {
        padding-left: $mHuitSeizieme + $mGutter;
    }

    .table__data--button {
        padding: 0;
    }
}

@media screen and (max-width: 300px) {

    .table__data {
        padding-left: $mDixSeizieme + $mGutter;
    }

    .table__data--button {
        padding: 0;
    }
}
