.pagination {
    text-align: center;
    margin-bottom: $gutter;
}

.pagination__character {
    margin: 0 $gutter / 4;
    text-transform: uppercase;
}

.character__link {
    color: $darkGreen;
    font-size: 1.2em;
    font-weight: $bold;


    &:hover {
        color: $lightGreen;
    }
}

.character__active {
  color: $green;
}
