.page-title {
    margin-bottom: 2em;
    text-align: center;
    color: $mainColor;
    position: relative;
    word-wrap: break-word;

    &:before {
        content: '';
        display: block;
        width: 100%;
        border-bottom: 1px solid $mainColor;
        text-align: center;
        position: absolute;
        top: 23px;
        left: 0;
        z-index: 1;
    }
}

.page-title__item {
    max-width: $douzeSeizieme;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 auto;
    padding: 0 1em;
    background-color: $contrastColor;
    font-family: $light;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1280px) {
    .page-title__item {
        max-width: $mDouzeSeizieme;
    }
}

@media screen and (max-width: 960px) {
    .page-title__item {
        max-width: $mSeizeSeizieme;
    }
}
