.form {
    width: $dixSeizieme;
}

.form--article {
    width: $seizeSeizieme;
}

.form--comment {
    width: $douzeSeizieme;
}

.form--popup-box {
    width: $mSeizeSeizieme;
}

.input, .form__bloc {
    @include clear-float();
    margin: 0.5em 0;
}

.form label, .form__span {
    display: block;
    box-sizing: border-box;
    width: $quatreSeizieme;
    margin-right: $gutter;
    padding: 0.5em 0;
    float: left;
    text-align: right;
}

.form--comment label {
    width: $deuxSeizieme;
    text-align: left;
}

.form--popup-box label {
    width: $mQuatreSeizieme;
    margin-right: $mGutter;
}

.form__image {
    float: left;
}

.input-text, .input-password, .input-number, .form-select  {
    box-sizing: border-box;
    width: $sixSeizieme;
    padding: 0.5em;
    border: 0;
    border-bottom: 1px solid $mainColor;
    float: left;
}

.input-text--article, .input-number--article, .form-select--article, .input-checkbox--article  {
    width: $douzeSeizieme;
}

.input-text--comment, .form-select--comment {
    width: $dixSeizieme;
}

.input-text--popup-box, .input-password--popup-box  {
    width: $mDouzeSeizieme;
}

.input-file  {
    box-sizing: border-box;
    width: $sixSeizieme;
    padding: 0.5em 0;
    float: left;
}

.input-file--article  {
    width: $douzeSeizieme;
}

.form textarea {
    box-sizing: border-box;
    width: $sixSeizieme;
    padding: 0.5em;
    height: 8em;
    border: 0;
    border-bottom: 1px solid $mainColor;
    float: left;
}

.select-date {
    box-sizing: border-box;
    width: $deuxSeizieme;
    padding: 0.5em;
    border: 0;
    border-bottom: 1px solid $mainColor;
    float: left;

    & + .select-date {
        margin-left: $gutter;
    }
}

.form-select[multiple='multiple'] {
    height: $gutter * 4;
}

.submit {
    @include form-button( $darkMainColor, $contrastColor, $lightMainColor);
    width: 100%;
    margin-top: 1em;
}

.form input[type="submit"]  {
    margin-left: $quatreSeizieme + $gutter;
    width: $sixSeizieme;
}

.form--comment input[type="submit"]  {
    margin-left: $deuxSeizieme + $gutter;
}

.form--popup-box input[type="submit"]  {
    width: $mDouzeSeizieme;
    margin-left: $mQuatreSeizieme + $mGutter;
}

.form label[for='ArticleType'] {
  height: 128px;
}

.checkbox {
    padding-top:8px;
    float: left;
    width: $sixSeizieme;
}

.checkbox label {
    display: inline-block;
    width: auto;
    padding: 0;
    text-align: left;
}

.chosen-container {
    padding: 0.5em 0;
}

.form--article .checkbox {
    width: 100%;
    padding-left: $quatreSeizieme + $gutter;
}

.form input[type="checkbox"] + label {
    float: none;
    margin: 0 0 0 $gutter / 4;
}

.form__information {
    margin-left: $quatreSeizieme + $gutter;
    color: $mainColor;
}

@media screen and (max-width: 1280px) {
    .form {
        width: $mDouzeSeizieme;
    }

    .form--article, .form--comment, .form--right-part, .form--popup-box {
        width: $mSeizeSeizieme;
    }

    .form label, .form__span {
        width: $mSeptSeizieme;
        margin-right: $mGutter;
    }

    .form--comment label, .form__span {
        width: $mTroisSeizieme;
    }

    .form--popup-box label {
        width: $mQuatreSeizieme;
    }

    .input-text, .input-password, .input-number, .form-select  {
        width: $mNeufSeizieme;
    }

    .input-text--article, .input-number--article, .form-select--article, .input-checkbox--article  {
        width: $mNeufSeizieme;
    }

    .input-text--comment, .form-select--comment {
        width: $mTreizeSeizieme;
    }

    .input-text--popup-box, .input-password--popup-box  {
        width: $mDouzeSeizieme;
    }

    .input-text--article {
      width: $mNeufSeizieme;
    }

    .input-file  {
        width: $mNeufSeizieme;
    }

    .input-file--article  {
        width: $mNeufSeizieme;
    }

    .form textarea {
        width: $mNeufSeizieme;
    }

    .select-date {
        width: $mTroisSeizieme;

        & + .select-date {
            margin-left: $mGutter;
        }
    }

    .form input[type="submit"]  {
        margin-left: $mSeptSeizieme + $mGutter;
        width: $mNeufSeizieme;
    }

    .form--comment input[type="submit"]  {
        margin-left: $mTroisSeizieme + $mGutter;
    }

    .form--popup-box input[type="submit"]  {
        width: $mDouzeSeizieme;
        margin-left: $mQuatreSeizieme + $mGutter;
    }

    .checkbox {
        width: $mNeufSeizieme;
    }

    .form--article .checkbox {
        width: 100%;
        padding-left: $mSeptSeizieme + $mGutter;
    }

    .form__information {
        margin-left: $mSeptSeizieme + $mGutter;
    }
}

@media screen and (max-width: 960px) {
    .form {
        width: $mSeizeSeizieme;
    }
}

@media screen and (max-width: 700px) {
    .input, .form__bloc {
        margin: $gutter 0;
    }

    .form label, .form__span {
        width: $mSeizeSeizieme;
        margin-right: 0;
        float: none;
        text-align: center;
    }

    .input-text, .input-password, .input-number, .form-select  {
        width: $mSeizeSeizieme;
        float: none;
    }

    .input-text--article, .input-number--article, .form-select--article, .input-checkbox--article  {
        width: $mSeizeSeizieme;
    }

    .input-text--comment, .form-select--comment {
        width: $mSeizeSeizieme;
    }

    .input-text--article {
      width: $mSeizeSeizieme;
      float: none;
    }

    .input-file  {
        width: $mSeizeSeizieme;
        float: none;
    }

    .input-file--article  {
        width: $mSeizeSeizieme;
        float: none;
    }

    .form textarea {
        width: $mSeizeSeizieme;
        float: none;
    }

    .select-date {
        width: $mQuatreDouzieme;

        & + .select-date {
            margin-left: $mGutter;
        }
    }

    .form input[type="submit"]  {
        width: $mSeizeSeizieme;
        float: none;
        margin-left: 0;
    }

    .form label[for='ArticleType'] {
        height: auto;
    }

    .checkbox {
        width: $mSeizeSeizieme;
        float: none;
    }

    .checkbox label {
        display: inline;
        text-align: left;
    }

    .form--article .checkbox {
        width: 100%;
        width: $mSeizeSeizieme;
        padding-left: 0;
        float: none;
    }

    .form__information {
        width: $mSeizeSeizieme;
        margin-left: 0;
        float: none;
    }
}
