.social-links {
    width: $troisSeizieme;
    position: absolute;
    top: -1em;
    right: 0;
    text-align: right;
}

@media screen and (max-width: 960px) {
    .social-links {
        width: $mSeizeSeizieme;
        margin-bottom: $gutter;
        position: relative;
        top: auto;
        right: auto;
        text-align: center;
    }
}
