.link {
    color: $darkMainColor;

    &:hover {
        color: $lightMainColor;
    }
}

.link--bold {
    font-family: $bold;
}

.link--password {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}
