.left-nav {
    float: left;
    width: $quatreSeizieme;
    margin-right: $gutter;
    border-right: 1px solid $mainColor;
}

.left-nav__container {
    display: block;
}

.left-nav__item {
    display: block;
    color: $darkMainColor;
    font-family: $bold;
    padding: $gutter / 2 $gutter;
    border-bottom: 1px dotted $mainColor;

    &:hover {
        background-color: $lightMainColor;
        color: $contrastColor;
    }
}

@media screen and (max-width: 1280px) {
    .left-nav {
        width: $mCinqSeizieme;
        margin-right: $mGutter;
    }
}

@media screen and (max-width: 960px) {
    .left-nav {
        width: $mSeizeSeizieme;
        margin-right: 0;
        margin-bottom: $gutter;
        border-right: none;
        float: none;
    }
}
