// $mainColor : #00BF4C;
$mainColor : #1E5F7D;
$darkMainColor : #002138;
// $lightMainColor : #78BE43;
$lightMainColor : #3B7D7F;

$errorColor: #E82C0C;
$warningColor : #FF5909;

$contrastColor : #FFFFFF;
$notFocusColor: #BFBFBF;
