$unSeizieme: 48px;
$deuxSeizieme: 126px;
$troisSeizieme: 204px;
$quatreSeizieme: 282px;
$cinqSeizieme: 360px;
$sixSeizieme: 438px;
$septSeizieme: 516px;
$huitSeizieme: 594px;
$neufSeizieme: 672px;
$dixSeizieme: 750px;
$onzeSeizieme: 828px;
$douzeSeizieme: 906px;
$treizeSeizieme: 984px;
$quatorzeSeizieme: 1062px;
$quinzeSeizieme: 1140px;
$seizeSeizieme: 1218px;

$unDouzieme: 74px;
$deuxDouzieme: 178px;
$troisDouzieme: 282px;
$quatreDouzieme: 386px;
$cinqDouzieme: 490px;
$sixDouzieme: 594px;
$septDouzieme: 698px;
$huitDouzieme: 802px;
$neufDouzieme: 906px;
$dixDouzieme: 1010px;
$onzeDouzieme: 1114px;
$douzeDouzieme: 1218px;

$gutter: 30px;

$mUnSeizieme: 3.940886699507389%;
$mDeuxSeizieme: 10.3448275862069%;
$mTroisSeizieme: 16.7487684729064%;
$mQuatreSeizieme: 23.15270935960591%;
$mCinqSeizieme: 29.55665024630542%;
$mSixSeizieme: 35.96059113300493%;
$mSeptSeizieme: 42.36453201970443%;
$mHuitSeizieme: 48.76847290640394%;
$mNeufSeizieme: 55.17241379310345%;
$mDixSeizieme: 61.57635467980296%;
$mOnzeSeizieme: 67.98029556650246%;
$mDouzeSeizieme: 74.38423645320197%;
$mTreizeSeizieme: 80.78817733990148%;
$mQuatorzeSeizieme: 87.19211822660099%;
$mQuinzeSeizieme: 93.59605911330049%;
$mSeizeSeizieme: 100%;

$mUnDouzieme: 6.075533661740558%;
$mDeuxDouzieme: 14.61412151067323%;
$mTroisDouzieme: 23.15270935960591%;
$mQuatreDouzieme: 31.69129720853859%;
$mCinqDouzieme: 40.22988505747126%;
$mSixDouzieme: 48.76847290640394%;
$mSeptDouzieme: 57.30706075533662%;
$mHuitDouzieme: 65.84564860426929%;
$mNeufDouzieme: 74.38423645320197%;
$mDixDouzieme: 82.92282430213465%;
$mOnzeDouzieme: 91.46141215106732%;
$mDouzeDouzieme: 100%;

$mGutter: 2.463054187192118%;